<span class="ui-spinner ui-widget ui-widget-content ui-corner-all">
  <input class="ui-spinner-input" [(ngModel)]="number">
  <a (click)="increase()" class="ui-spinner-button ui-spinner-up ui-corner-tr ui-button ui-widget ui-state-default ui-button-text-only" tabindex="-1" role="button">
    <span class="ui-button-text">
      <span class="ui-icon ui-icon-triangle-1-n spinner">▲</span>
    </span>
  </a>
  <a (click)="decrease()" class="ui-spinner-button ui-spinner-down ui-corner-br ui-button ui-widget ui-state-default ui-button-text-only" tabindex="-1" role="button">
    <span class="ui-button-text">
      <span class="ui-icon ui-icon-triangle-1-s spinner">▼</span>
    </span>
  </a>
</span>